.table{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 5px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }